body{
	text-align: center;
	font-size: 50px;
}

.longTime {
	border: 5px solid red;
	border-radius: 25px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.shortTime{
	border: 5px solid blue;
	border-radius: 25px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}